<a href="http://sourceforge.net/projects/rigsofrods/files/rigsofrods/<%= data.version.list.current_major %>/RoR-Setup-<%= data.version.list.current_major %>.<%= data.version.list.current_minor %>.exe" class="button warning actiondownload">
	<i class="fa fa-download"></i> <%= I18n.t('index.download.download') %><br /><small>v. <%= data.version.list.current_major %>.<%= data.version.list.current_minor %> <%= I18n.t('index.download.for') %> Windows</small>
</a>
<br/>
<div class="text-center"><a href="/download"><span style="text-align:center;"><small><%= I18n.t('index.download.alternative') %></small></a></div>
