<a href="http://sourceforge.net/projects/rigsofrods/files/rigsofrods/<%= data.version.list.current_major %>/RoR-Setup-<%= data.version.list.current_major %>.<%= data.version.list.current_minor %>.exe" class="button warning actiondownload">
	<i class="fa fa-download"></i> <%= I18n.t(:download) %><br /><small>v. <%= data.version.list.current_major %>.<%= data.version.list.current_minor %> for Windows</small>
</a>
<br/>
<div class="text-center"><a href="/download"><span style="text-align:center;"><small>alternative downloads...</small></a></div>
