<div class="start">
	<div class="row">
		<section class="section-dl">
			<div class="row">
				<div class="small-12 columns">
					<%= partial "startbanner" %>
					<%= partial "download-wrapper" %>
				</div>
			</div>
		</section>
	</div>
</div>

<%= partial "index/summary" %>
<div class="row"><hr /></div>
<%= partial "index/toys" %>
<div class="row"><hr /></div>
<%= partial "index/foss" %>
<div class="row"><hr /></div>
<%= partial "index/getting-started" %>
