<section id="action" class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2><%= I18n.t('index.getting-started.title') %></h2>
			<br/>

		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered columns">
			<div class="small-6 left columns">
				<div class="right">
					<%= partial "download-button" %>
				</div>
			</div>
			<div class="small-6 right columns">
				<div class="left">
					<li><a href="/docs"><%= I18n.t('index.getting-started.content.docs') %></a></li>
					<li><a href="http://rigsofrods.com/forum"><%= I18n.t('index.getting-started.content.forum') %></a></li>
					<li><a href="https://github.com/RigsOfRods/rigs-of-rods/issues/new"><%= I18n.t('index.getting-started.content.bugs') %></a></li>
					<li><b><%= I18n.t('index.getting-started.content.have-fun') %></b></li>
				</div>
			</div>
		</div>
	</div>
</section>
