<section class="index-toys">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2><%= I18n.t('index.toys.title') %></h2>
			<p><%= I18n.t('index.toys.content.preface') %></p>
		</div>
	</div>
	<div class="row">
		<div class="small-3 columns">
			<div class="small-centered columns">
			<i class="section-icon fa fa-truck"></i>
			<h5><%= I18n.t('index.toys.content.truck.title') %></h5>
			<p><%= I18n.t('index.toys.content.truck.content') %></p>
			</div>
		</div>
		<div class="small-3 columns">
		 	<i class="section-icon fa fa-train"></i>
		 	<h5><%= I18n.t('index.toys.content.train.title') %></h5>
		 	<p><%= I18n.t('index.toys.content.train.content') %></p>
		</div>
		<div class="small-3 columns">
			<i class="section-icon fa fa-ship"></i>
			<h5><%= I18n.t('index.toys.content.ship.title') %></h5>
			<p><%= I18n.t('index.toys.content.ship.content') %></p>
		</div>
		<div class="small-3 columns">
			<i class="section-icon fa fa-plane"></i>
			<h5><%= I18n.t('index.toys.content.aircraft.title') %></h5>
			<p><%= I18n.t('index.toys.content.aircraft.content') %></p>
		</div>
	</div>
</section>
