<%= partial "header" %>

<div class="row main-start">
<div class="small-12 columns">
    <h1>Development Blog Archive</h1>
</div>
<hr />

<% blog.articles.each do |article| %>
	<div class="small-9 columns bloglist">
    	<h3><a href="<%= article.url %>"><%= article.title %></a></h3>
        <div class="details">
            <span id="author" class="author"><%= article.data.author %></span> - 
            <span id="email" class="email"><a href="<%= article.date %>">@<%= article.data.nick %></a></span> - 
            <span id="revdate"><%= article.date.strftime("%d %B %Y") %></span>
        </div>
	</div>
    
    <div class="small-3 columns">
            <% article.tags.each do |tag| %><span class="label"><%= tag %></span> <% end %>
    </div>

	<br />
	<br />
	<br />

    <hr />
<% end %>

<%= partial "footer" %>
