<%= partial "header" %>

<div class="row main-start">
<div class="small-12 columns bloglist">
    <h1>Rigs of Rods Development Blog</h1>
</div>

<% blog.articles[0...10].each do |article| %>
<div class="small-12 columns">
    <div id="header" class="bloglist">
        <h2><%= article.title %></h2>
        <div class="details">
            <span id="author" class="author"><%= article.data.author %></span>
            <br/>
            <span id="email" class="email"><a href="<%= article.date %>">@<%= article.data.nick %></a></span>
            <br/>
            <span id="revdate"><%= article.date.strftime("%d %B %Y") %></span>
        </div>
    </div>
    <div id="content summary">
        <p><%= article.summary %></p>
    </div>

    <% article.tags.each do |tag| %><span class="label"><%= tag %></span> <% end %>

    <div class="right">
        <a href='<%= article.url %>'><nobr>Read more →</nobr></a>
    </div>
    <br/>
    <br/>
    <br/>
</div>
<% end %>

 <div class="small-12 columns">
      <h4>View older posts in <a href="/blog/archive/" title="Posts archive">the archive</a>...</h4>
 </div>

<%= partial "footer" %>
