<%= partial "header" %>
<div class="start">
	<div class="row">
		<section class="section-dl">
			<div class="row">
				<div class="small-12 columns">
					<div class="row">
						<div class="small-5 columns startbanner">
							<img src="/images/logos/rorlogo.png">
							<h3 class="slogan">Soft Body Physics Simulator</h3>
						</div>
					</div>
					<div class="download-wrapper">
						<a href="#action" class="button download">
							<i class="fa fa-download"></i> Download<br />
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<%= partial "index-section-summary" %>
<div class="row"><hr /></div>
<%= partial "index-section-toys" %>
<div class="row"><hr /></div>
<%= partial "index-section-foss" %>
<div class="row"><hr /></div>
<section id="action" class="index-common-text">
	<div class="row text-center">
		<div class="small-12 small-centered columns">
			<h2>Getting Started</h2>
			<br/>

		</div>
	</div>
	<div class="row">
		<div class="small-9 small-centered columns">
			<div class="small-6 left columns">
				<div class="right">
					<a href="http://sourceforge.net/projects/rigsofrods/files/rigsofrods/<%= data.version.list.current_major %>/RoR-Setup-<%= data.version.list.current_major %>.<%= data.version.list.current_minor %>.exe" class="button warning actiondownload">
						<i class="fa fa-download"></i> Download<br /><small>v. <%= data.version.list.current_major %>.<%= data.version.list.current_minor %> for Windows</small>
					</a>
					<br/>
					<div class="text-center"><a href="/download"><span style="text-align:center;"><small>alternative downloads...</small></a></div>
				</div>
			</div>
			<div class="small-6 right columns">
				<div class="left">
					<li><a href="/docs">Read the documentation.</a></li>
					<li><a href="http://rigsofrods.com/forum">Join the forums.</a></li>
					<li><a href="https://github.com/RigsOfRods/rigs-of-rods/issues/new">Report bugs and request features.</a></li>
					<li><b>Have fun!</b></li>
				</div>
			</div>
		</div>
	</div>
</section>


<%= partial "footer" %>
